:root {
    --bg: #fff5ee; /* background */
    --fg: #131316; /* foreground */
    --lk: #131316; /* link */
    --hg: #ef5d60; /* highlight */
    --td: #b6d3e2; /* tone down */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;

    /* background strategy: https://css-tricks.com/css-basics-using-multiple-backgrounds +  https://stackoverflow.com/questions/19502454/background-sizecover-performance-issues */
    /* gradient made with https://cssgradient.io */
    background:
        var(--bg);
        /*linear-gradient(45deg, rgba(40,156,176,0.7) 0%, rgba(59,2,99,0.7) 100%) no-repeat center fixed,
        url("../images/background.jpg") no-repeat center fixed;*/
    background-size: cover;
}

body {
    display: flex;
    min-height: 100vh; /* keeps the footer down even with lesser content */
    flex-direction: column;
    color: var(--fg);
    font-family: "Recursive", sans-serif;
}

.content-wrap { /* pushes the footer down, adds the margin for the main content */
    flex: 1;
    margin: 0% 15%;
}

.link { /* Link styling learned from https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css */
    color: var(--lk);
    text-decoration: none; /* Remove default underline */
    background-image: linear-gradient(currentColor, currentColor); /* Gradients are manages as images by css, so we use "background-image" */
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .4s ease;
}

.link:hover, .link:focus {
    background-size: 100% 1px;
}

header {
    border-bottom: solid var(--fg) 1px;
    margin: 0% 15%;
    padding: 1% 0%;
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header li {
    font-size: 1.2vmax;
    text-align: center;
}


/* trying stuff about dropdown menus */
.dropdown {
    position: relative;
}

.sub_menu {
    display: flex;
    flex-direction: row;
    background: var(--bg);
    position: absolute;
}

.sub_menu li {
    list-style: none; 
    margin: 30px 20px 5px 20px;
}
  
.features-menu li:last-of-type {
    border-bottom: none;
}
/* trying stuff about dropdown menus */


section {
    margin-top: 1%;
    display: flex;
    /* flex-wrap: nowrap; can't remember why this was here */
    justify-content: center;
}

section h1 {
    overflow-wrap: anywhere;
    font-weight: 800;
    font-size: 5vmax;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

#arrow-down {
    position: relative;
    top: -10px;
    margin: 20px;
    padding: 15px;
    box-shadow: 5px -5px 0 0 var(--fg) inset;
    transform: rotate(-45deg);
}

.subsection:hover #arrow-down {
    animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
    from {
        top: -15px;
    }
    to {
        top: 0px;
    }
}

section p {
    font-size: 1.2vmax;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.subsection {
    padding: 0% 2% 1% 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subsection:hover {
    animation: boxHover 0.8s ease forwards;
}

@keyframes boxHover {
    from {
    }
    to {
        letter-spacing: 0.1vmin;
    }
}

footer {
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    background: var(--td);
    /* border-top: 1px solid var(fg); */
}

footer #copyright {
    font-size: 0.7vmax;
    text-align: center;
}

/* Mobile */
@media only screen and (max-width: 400px) { /* https://stackoverflow.com/questions/32574100/why-media-queries-has-less-priority-than-no-media-queries-css */
    .content-wrap { /* remove margin from main page content */
        margin: 0% 0%;
    }

    header { /* remove margin from header */
        margin: 0% 0%;
    }

    section { /* flex vertical for subsections */
        flex-direction: column;
    }
    
    #arrow-down { /* adjust arrow size */
        padding: 10px;
        box-shadow: 3px -3px 0 0 var(--fg) inset;
    }
}

/*
footer .columns {
    padding: 2% 15% 2% 15%;
    display: flex;
    justify-content: left;
}

footer .column-box:first-child {
    margin-left: 0px;
}

footer .column-box {
    border: 1px solid white;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
footer h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-transform: capit;
    letter-spacing: 1px;
}
    
footer p {
    padding-left: 10px;
}
*/

/* NOTES */

/* SELECTORS
Descendant .selectors are used to match to any nested element. 
Child > combinators, on the other hand, only match to the direct 
child element and are defined by the greater than symbol. 
The selector on the right must be the direct child of the element 
on the left.
*/
